<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Squares</string>
		<key>plistName</key>
		<string>TAPiazze</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Museums</string>
		<key>plistName</key>
		<string>TAMusei</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Monuments</string>
		<key>plistName</key>
		<string>TAMonumenti</string>
	</dict>
</array>
</plist>
