<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>latitudine</key>
		<string>45.067632</string>
		<key>longitudine</key>
		<string>7.682535</string>
		<key>name</key>
		<string>Piazza San Carlo</string>
		<key>nameImage</key>
		<array>
			<string>san_carlo.jpg</string>
			<string>piazza_castello.jpg</string>
		</array>
		<key>description</key>
		<string>Piazza San Carlo è una delle più importanti piazze di Torino; può essere definita come il salotto del capoluogo piemontese. Lunga 168 metri e larga 76, la piazza ha una superficie di 12.768 metri quadrati; è inserita all&apos;interno dell&apos;asse viario di Via Roma, che la collega a Piazza Castello e a Piazza Carlo Felice.</string>
	</dict>
	<dict>
		<key>latitudine</key>
		<string>45.0712815</string>
		<key>longitudine</key>
		<string>7.6844785,17</string>
		<key>name</key>
		<string>Piazza Castello</string>
		<key>nameImage</key>
		<array>
			<string>piazza_castello.jpg</string>
			<string>san_carlo.jpg</string>
			<string>piazza_castello.jpg</string>
		</array>
		<key>description</key>
		<string>Piazza Castello è la piazza principale di Torino, cuore del centro storico della città: vi sono situati importanti palazzi cittadini, quali Palazzo Reale e Palazzo Madama. In piazza Castello confluiscono quattro dei principali assi viari del centro: via Garibaldi (pedonale), via Po, via Roma e via Pietro Micca.</string>
	</dict>
</array>
</plist>
